body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainReportRightsList .PgMainReportRightsList-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-pnlBody {
	
}

body.tundra .PgMainReportRightsList .wmlayout .PgMainReportRightsList-lblManageLookUp {
	font-family:Tahoma;
}

