body.tundra .PgMainUserManageRights .wmlayout .PgMainUserManageRights-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserManageRights .wmlayout .PgMainUserManageRights-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserManageRights .wmlayout .PgMainUserManageRights-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainUserManageRights .wmlayout .PgMainUserManageRights-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainUserManageRights .wmlayout .PgMainUserManageRights-pnlFooter {
	background-color:#00008B;
}


body.tundra .PgMainUserManageRights .PgMainUserManageRights-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}



body.tundra .PgMainUserManageRights .wmlayout .PgMainUserManageRights-pnlInputFields {
	
}

body.tundra .PgMainUserManageRights .wmlayout .PgMainUserManageRights-pnlBody {
	background-color:#FFFFFF;
	color:#666666;
border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

