body.tundra .PgRole .wmlayout .PgRole-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgRole .wmlayout .PgRole-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgRole .wmlayout .PgRole-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgRole .wmlayout .PgRole-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgRole .wmlayout .PgRole-pnlFooter {
	background-color:#00008B;
}


body.tundra .PgRole .PgRole-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}



body.tundra .PgRole .wmlayout .PgRole-pnlInputFields {
	
}

body.tundra .PgRole .wmlayout .PgRole-pnlBody {
	background-color:#FFFFFF;
	color:#666666;
border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

