body.tundra .PgManageUser .wmlayout .PgManageUser-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgManageUser .PgManageUser-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-lblUser {
	font-family: Tahoma;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-lblSep {
	font-family:Tahoma;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-lblAsgnRole {
	font-family:Tahoma;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-pnlBody {
	background-image:url(resources/images/logos/wavebgnd.gif) !important;
	background-repeat:no-repeat !important;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-lblHelp {
	font-family:Tahoma;
}

body.tundra .PgManageUser .wmlayout .PgManageUser-lblBorder2 {
	font-family:Tahoma;
}

