/**
 * Style sheet for CalendarPickerControl
 * System-colors theme
 */

div.calendarbutton{
	position: absolute;
	width: 16px;
	height: 16px;
	background: transparent url("calendar_icon.png") no-repeat center;
}

#CalendarPickerControl{
	background-color: transparent;
	width: 150px;
	height: 150px;
}

#CalendarPickerControl table.calframe{
	width: 100%;
	border: 1px solid #CCCCCC;
	background-color: white;
	text-align: center;
}

#CalendarPickerControl td.monthname{
	width: 100%;
	font: normal 8pt Tahoma;
    border:1px solid transparent;
	color: captiontext;
	font-weight: bold;
	background-color: #e3f0f2;
}

#CalendarPickerControl td.monthnameLNX{
	width: 100%;
	font: normal 13px Verdana;
	color: highlighttext;
	font-weight: bold;
	background-color: highlight;
}

#CalendarPickerControl table.navigation{
	width: 100%;
	text-align: center;
    border:1px solid #CCCCCC;
    background-color: transparent;
}

#CalendarPickerControl td.navbutton{
	font: normal 7pt Tahoma;
	color: buttontext;
	font-weight: bold;
	background-color: transparent;
	border-width: 0px;
	cursor: pointer;
}

#CalendarPickerControl td.navbutton:hover{
	text-decoration: underline;
	border-color: threeddarkshadow buttonhighlight buttonhighlight  threeddarkshadow;
	background-color: buttonshadow;
}

#CalendarPickerControl span.yearbutton{
	cursor: pointer;
}

#CalendarPickerControl span.yearbutton:hover{
	text-decoration: underline;
}

#CalendarPickerControl td.dayname{
	font: normal 8pt Tahoma;
	color: captiontext;
	background-color: transparent;
}

#CalendarPickerControl td.daynameLNX{
	font: normal 11px Verdana;
	color: highlighttext;
	font-weight: bold;
	background-color: highlight;
}

#CalendarPickerControl td.today{
font: normal 8pt Tahoma;
	font-weight: bold;
	color: #800000;
	text-decoration: none;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: #800000;
}

#CalendarPickerControl td.today:hover{
	text-decoration: underline;
	background-color: threedshadow;
	border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.current{
	font: normal 8pt Tahoma;
	font-weight: bold;
	color: black;
	text-decoration: none;
	cursor: pointer;
    background-color: #e3f0f2;
}

#CalendarPickerControl td.current:hover{
	text-decoration: underline;
}

#CalendarPickerControl td.day{
	font: normal 8pt Tahoma;
	color: buttontext;
	text-decoration: none;
	cursor: pointer;
}

#CalendarPickerControl td.day:hover{
	text-decoration: underline;
	background-color: threedshadow;
	border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.weekend{
	font: normal 8pt Tahoma;
	color: #800000;
	text-decoration: none;
	font-style: italic;
	cursor: pointer;
}

#CalendarPickerControl td.weekend:hover{
	background-color: buttonshadow;
	text-decoration: underline;
	border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.dayothermonth{
	font:normal 8pt Tahoma;
	background-color: buttonhighlight;
	color: inactivecaptiontext;
	border: 1px solid buttonhighlight;
}

#CalendarPickerControl td.weeknumber{
	font:normal 9px Verdana;
	background-color: buttonface;
	color: inactivecaptiontext;
	border-width: 0px;
}
