body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainReportTablist .PgMainReportTablist-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-pnlBody {
	
}

body.tundra .PgMainReportTablist .wmlayout .PgMainReportTablist-lblManageLookUp {
	font-family:Tahoma;
}

