body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainReportMem .PgMainReportMem-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-pnlBody {
	
}

body.tundra .PgMainReportMem .wmlayout .PgMainReportMem-lblManageLookUp {
	font-family:Tahoma;
}

