body.tundra .PgGenerateRights .wmlayout .PgGenerateRights-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgGenerateRights .wmlayout .PgGenerateRights-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgGenerateRights .wmlayout .PgGenerateRights-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgGenerateRights .wmlayout .PgGenerateRights-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgGenerateRights .wmlayout .PgGenerateRights-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgGenerateRights .wmlayout .PgGenerateRights-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
font-weight:bold;
}

body.tundra .PgGenerateRights .PgGenerateRights-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgGenerateRights .wmlayout .PgGenerateRights-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
font-weight:bold;
}

body.tundra .PgGenerateRights .wmlayout .PgGenerateRights-pnlBody {
	background-color:#FFFFFF;
	color:#666666;
border: solid #CCCCCC 0; 
padding:5px; 
font-weight:bold;
border-bottom-width: 0px;
font-family: Tahoma;
font-size:9pt;
}

