body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainConfigConnProfile .PgMainConfigConnProfile-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-pnlBody {
	
}

body.tundra .PgMainConfigConnProfile .wmlayout .PgMainConfigConnProfile-lblManageLookUp {
	font-family:Tahoma;
}

