body.tundra .PgJoin .wmlayout .PgJoin-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgJoin .wmlayout .PgJoin-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgJoin .wmlayout .PgJoin-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgJoin .wmlayout .PgJoin-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgJoin .wmlayout .PgJoin-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgJoin .wmlayout .PgJoin-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgJoin .PgJoin-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgJoin .wmlayout .PgJoin-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgJoin .wmlayout .PgJoin-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgJoin .wmlayout .PgJoin-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgJoin .wmlayout .PgJoin-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgJoin .wmlayout .PgJoin-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgJoin .wmlayout .PgJoin-lblSep {
	font-family:Tahoma;
}

body.tundra .PgJoin .wmlayout .PgJoin-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgJoin .wmlayout .PgJoin-pnlBody {
	
}

body.tundra .PgJoin .wmlayout .PgJoin-lblManageLookUp {
	font-family:Tahoma;
}

