body.tundra .PgMainUserAsgnRights .wmlayout .PgMainUserAsgnRights-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserAsgnRights .wmlayout .PgMainUserAsgnRights-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainUserAsgnRights .wmlayout .PgMainUserAsgnRights-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainUserAsgnRights .wmlayout .PgMainUserAsgnRights-pnlFooter {
	background-color:#00008B;
}


body.tundra .PgMainUserAsgnRights .PgMainUserAsgnRights-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}



body.tundra .PgMainUserAsgnRights .wmlayout .PgMainUserAsgnRights-pnlInputFields {
	
}

body.tundra .PgMainUserAsgnRights .wmlayout .PgMainUserAsgnRights-pnlBody {
	background-color:#FFFFFF;
	color:#666666;
border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgMainUserAsgnRights .wmlayout .PgMainUserAsgnRights-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

