body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainToolsTime .PgMainToolsTime-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-pnlBody {
	
}

body.tundra .PgMainToolsTime .wmlayout .PgMainToolsTime-lblManageLookUp {
	font-family:Tahoma;
}

