body.tundra .PgMainTools .wmlayout .PgMainTools-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainTools .PgMainTools-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-pnlBody {
	background-image:url(resources/images/logos/wavebgnd.gif) !important;
	background-repeat:no-repeat !important;
}

body.tundra .PgMainTools .wmlayout .PgMainTools-lblManageLookUp {
	font-family:Tahoma;
}

