body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainToolsQRCode .PgMainToolsQRCode-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-pnlBody {
	
}

body.tundra .PgMainToolsQRCode .wmlayout .PgMainToolsQRCode-lblManageLookUp {
	font-family:Tahoma;
}

