body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainUserAdMapping .PgMainUserAdMapping-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-pnlBody {
	
}

body.tundra .PgMainUserAdMapping .wmlayout .PgMainUserAdMapping-lblManageLookUp {
	font-family:Tahoma;
}

