body.tundra .PgMainConfig .wmlayout .PgMainConfig-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainConfig .PgMainConfig-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-pnlBody {
	background-image:url(resources/images/logos/wavebgnd.gif) !important;
	background-repeat:no-repeat !important;
}

body.tundra .PgMainConfig .wmlayout .PgMainConfig-lblManageLookUp {
	font-family:Tahoma;
}

