body.tundra .PgUserView .PgUserView-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
font-weight:bold;
}

body.tundra .PgUserView .wmlayout .PgUserView-txtSearch {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:9pt;
font-weight:bold;
}

