body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainMaintenanceLoglist .PgMainMaintenanceLoglist-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-pnlBody {
	
}

body.tundra .PgMainMaintenanceLoglist .wmlayout .PgMainMaintenanceLoglist-lblManageLookUp {
	font-family:Tahoma;
}

