body.tundra .PgLogin .wmlayout .PgLogin-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgLogin .wmlayout .PgLogin-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgLogin .wmlayout .PgLogin-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgLogin .wmlayout .PgLogin-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgLogin .wmlayout .PgLogin-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgLogin .wmlayout .PgLogin-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgLogin .PgLogin-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgLogin .wmlayout .PgLogin-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgLogin .wmlayout .PgLogin-pnlBody {
	background-image:url(resources/images/logos/wavebgnd.gif) !important;
	background-repeat:no-repeat !important;
}

