body.tundra .PgEntity  .wmlayout .PgEntity-pnlHeader {
	background-color:#FFFFFF;
}

body.tundra .PgEntity  .wmlayout .PgEntity-pnlTitle {
	background-color:#FFFFFF;
}

body.tundra .PgEntity  .wmlayout .PgEntity-lblTitle {
	background-color:#FFFFFF;
	color:#666666;
      border: solid #CCCCCC 0; 
      padding:5px; 
      border-bottom-width: 0px;
      font-family: Tahoma;
      font-size:20pt;
}

body.tundra .PgEntity .wmlayout .PgEntity-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgEntity .wmlayout .PgEntity-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgEntity .wmlayout .PgEntity-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgEntity .PgEntity-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgEntity .wmlayout .PgEntity-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgEntity .wmlayout .PgEntity-lblConfig {
	font-family: Tahoma;
}

body.tundra .PgEntity .wmlayout .PgEntity-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgEntity .wmlayout .PgEntity-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgEntity .wmlayout .PgEntity-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgEntity .wmlayout .PgEntity-txtEntityId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgEntity .wmlayout .PgEntity-txtCompany {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgEntity .wmlayout .PgEntity-txtDesc {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgEntity .wmlayout .PgEntity-txtAddr01 {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgEntity .wmlayout .PgEntity-txtAddr02 {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgEntity .wmlayout .PgEntity-txtAddr03 {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgEntity .wmlayout .PgEntity-txtStartDate {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}



body.tundra .PgEntity .wmlayout .PgEntity-txtStatus {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgEntity .wmlayout .PgEntity-lblMain {
	font-family: Tahoma;
}

body.tundra .PgEntity .wmlayout .PgEntity-lblSep {
	font-family:Tahoma;
}

body.tundra .PgEntity .wmlayout .PgEntity-pnlBody {
	
}

body.tundra .PgEntity .wmlayout .PgEntity-txtEndDate {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

body.tundra .PgEntity .wmlayout .PgEntity-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgEntity .wmlayout .PgEntity-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgEntity .wmlayout .PgEntity-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

