body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainUserTools .PgMainUserTools-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-pnlBody {
	
}

body.tundra .PgMainUserTools .wmlayout .PgMainUserTools-lblManageLookUp {
	font-family:Tahoma;
}

