body.tundra .PgMainUserAsgnRoles .wmlayout .PgMainUserAsgnRoles-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserAsgnRoles .wmlayout .PgMainUserAsgnRoles-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserAsgnRoles .wmlayout .PgMainUserAsgnRoles-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainUserAsgnRoles .wmlayout .PgMainUserAsgnRoles-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainUserAsgnRoles .wmlayout .PgMainUserAsgnRoles-pnlFooter {
	background-color:#00008B;
}


body.tundra .PgMainUserAsgnRoles .PgMainUserAsgnRoles-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}



body.tundra .PgMainUserAsgnRoles .wmlayout .PgMainUserAsgnRoles-pnlInputFields {
	
}

body.tundra .PgMainUserAsgnRoles .wmlayout .PgMainUserAsgnRoles-pnlBody {
	background-color:#FFFFFF;
	color:#666666;
border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

