body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainUserTree .PgMainUserTree-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-pnlBody {
	
}

body.tundra .PgMainUserTree .wmlayout .PgMainUserTree-lblManageLookUp {
	font-family:Tahoma;
}

