body.tundra .PgMainUserManageRoles .wmlayout .PgMainUserManageRoles-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserManageRoles .wmlayout .PgMainUserManageRoles-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainUserManageRoles .wmlayout .PgMainUserManageRoles-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainUserManageRoles .wmlayout .PgMainUserManageRoles-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainUserManageRoles .wmlayout .PgMainUserManageRoles-pnlFooter {
	background-color:#00008B;
}


body.tundra .PgMainUserManageRoles .PgMainUserManageRoles-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}



body.tundra .PgMainUserManageRoles .wmlayout .PgMainUserManageRoles-pnlInputFields {
	
}

body.tundra .PgMainUserManageRoles .wmlayout .PgMainUserManageRoles-pnlBody {
	background-color:#FFFFFF;
	color:#666666;
border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:10pt;
font-weight:bold;
}

