body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainMaintenanceApplist .PgMainMaintenanceApplist-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-pnlBody {
	
}

body.tundra .PgMainMaintenanceApplist .wmlayout .PgMainMaintenanceApplist-lblManageLookUp {
	font-family:Tahoma;
}

