body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainMaintenanceReglist .PgMainMaintenanceReglist-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-pnlBody {
	
}

body.tundra .PgMainMaintenanceReglist .wmlayout .PgMainMaintenanceReglist-lblManageLookUp {
	font-family:Tahoma;
}

