body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-pnlHeader {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-pnlTitle {
	background-image:url(resources/images/logos/waveerpbar.jpg) !important;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-lblTitle {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:14pt;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-pnlMenuBar {
	background-color:#00008B;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-pnlFooter {
	background-color:#00008B;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-txtUserId {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainToolsWorkDir .PgMainToolsWorkDir-pnlLayoutMain.wmlayout {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-txtPassword {
	color:#666666;
	border: solid #CCCCCC 0; 
padding:5px; 
border-bottom-width: 0px;
font-family: Tahoma;
font-size:12pt;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-lblManageTicket {
	font-family: Tahoma;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-lblUserInfo {
	font-family:Tahoma;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-lblBorder {
	font-family:Tahoma;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-lblLogout {
	font-family:Tahoma;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-lblSep {
	font-family:Tahoma;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-lblManageUser {
	font-family:Tahoma;
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-pnlBody {
	
}

body.tundra .PgMainToolsWorkDir .wmlayout .PgMainToolsWorkDir-lblManageLookUp {
	font-family:Tahoma;
}

